.warning
  // Different vallues with spec (there 335px)
  min-height 356px
  +e('content')
    .placeholder
      margin var(--space-m)
  .informer
    +e('content')
      flex-direction column
      +m('distribute', 'center')
        justify-content flex-start
        align-items center