doctype html
html
  head
    link(rel='stylesheet' href='../style.styl')
    style body { margin: 0 }
  body
    script(src="../../build/script.js")
    .page.theme_gap_small.theme_color_project-default.theme_size_default.theme_space_default
      include:tpl ../content_blocks/header+onoffswitch/block.tpl
      .layout
        .layout__container.layout__container_size_m.layout__container_align_center.section.section_indent-b_xxl
          .grid.grid.grid_m-columns_10.grid_col-gap_full.grid_row-gap_full
            .grid__fraction.grid__fraction_m-col_5: include:tpl ../content_blocks/payment/block.tpl
            .grid__fraction.grid__fraction_m-col_5: include:tpl ../content_blocks/warning/block.tpl
        .layout__container.layout__container_size_m.layout__container_align_center.section.section_indent-b_xxl
          .grid.grid.grid_m-columns_10.grid_col-gap_half.grid_row-gap_full
            .grid__fraction.grid__fraction_m-col_2: include:tpl ../content_blocks/product/block.tpl
            .grid__fraction.grid__fraction_m-col_2: include:tpl ../content_blocks/product/block.tpl
            .grid__fraction.grid__fraction_m-col_2: include:tpl ../content_blocks/product/block.tpl
            .grid__fraction.grid__fraction_m-col_2: include:tpl ../content_blocks/product/block.tpl
            .grid__fraction.grid__fraction_m-col_2: include:tpl ../content_blocks/product/block.tpl
        .layout__container.layout__container_size_m.layout__container_align_center.section
          .grid.grid.grid_m-columns_12.grid_col-gap_full.grid_row-gap_full
            .grid__fraction.grid__fraction_m-col_8: include:tpl ../content_blocks/history/block.tpl
            .grid__fraction.grid__fraction_m-col_4: include:tpl ../content_blocks/commercial/block.tpl
      include:tpl ../content_blocks/footer/block.tpl
