doctype html
html
  head
    title Решение задания №1 — ШРИ, Москва, осень 2019
  body
    ul
      h1 Решение задания №1 — ШРИ, Москва, осень 2019
      li: a(href="./index.pug") Главная страница
      li: a(href="./product.pug") Страница продукта
      li: a(href="./product.pug") Страница продукта
