.commercial
  min-height 430px
  border-width 3px
  +e('pix')
    flex-grow 1
  .image
    height 180px
  +e('page-button')
    mixmod('view', 'primary', 'bg-from-text-color-')
    width 8px
    height 8px
    margin 0 calc(var(--space-xs) / 2)
  +e('navigation')
    margin-top var(--space-s)
    display flex
    mixmod('distribute', 'center')
