.history
  border-width 3px
  // -- FIXES ---
  +e('time')
    {flex-column}
    mixmod('vertical-align', 'center', 'column-')

  +e('details')
    display flex
    flex-grow 1
    mixmod('vertical-align', 'center')

  +e('description')
    .text
      width 100%

  // Hacks for correct dimensions and unfold animation

  +e('transaction')
    overflow hidden
    &.is-unfolded ^[0]
      +e('hide')
        max-height 100px
        margin-top 16px
        top 0

  +e('hide')
    max-height 0
    position relative
    margin-top 0
    top 16px
    transition max-height .2s

  +e('show')
    margin-top 0
    margin-bottom 4px
    .text
      position relative
      top 2px
