flex-column =
  display flex
  flex-direction column

flex-row =
  display flex
  flex-wrap wrap
  width 100%

.card
  {flex-column}
  mods('border', 'all')
  mods('view', 'default', 'bg-')
  +e('content')
    {flex-column}
    flex-grow 1
    mods('distribute', 'center', 'column-')
    mods('vertical-align', 'center', 'column-')
    mods('space-a', 'm' 'xl' 'l' 'xxl')
  +e('footer')
    {flex-column}
    mods('distribute', 'between' 'center' 'right')
    mods('vertical-align', 'center' 'top' 'bottom')
    mods('space-a', 'm' 'l' 'xl' 'xxl')

.form
  mods('border', 'all')
  mods('view', 'default', 'bg-')
  +e('item')
    {flex-row}
    mods('border', 'bottom')
    mods('distribute', 'between')
    mods('vertical-align', 'center')
    mods('indent-b', 'xxxs' 'xxs' 's' 'm' 'l' 'xl' 'xxl' 'xxxl' 'xxxxl')
    mods('space-h', 'xxxs' 'xxs' 's' 'm' 'l' 'xl' 'xxl' 'xxxl' 'xxxxl')
    mods('space-v', 'xxxs' 'xxs' 's' 'm' 'l' 'xl' 'xxl' 'xxxl' 'xxxxl')
  +e('label')
    +m('width', 'default') { width 35% }
  +e('control')
    flex-grow 1
  e('header')
  e('content')
  e('content-item')
  e('footer')

.informer
  {flex-column}
  mods('border', 'all')
  mods('view', 'default', 'bg-')
  // Strange inform distribute values, especially between.
  // (by defenition, it's column aligned)
  +e('content')
    flex-grow 1
    {flex-column}
    mods('distribute', 'default' 'between' 'center', 'column-')
    mods('space-a', 'xl' 'xxl')
  +e('action')
    {flex-row}
    mods('distribute', 'default' 'between' 'center')
    mods('space-a', 'xl' 'xxl')

.list
  mods('border', 'all')
  mods('view', 'default', 'bg-')
  +e('item')
    {flex-row}
    mods('border', 'bottom' 'top')
    mods('distribute', 'between')
    mods('vertical-align', 'center')
    mods('indent-t', 'm')
    mods('indent-b', 's' 'm' 'l' 'xl')
    mods('space-b', 's')
    mods('space-a', 'l')

.icon-plus
  {flex-row}
  mods('vertical-align', 'center')
  +e('icon')
    mods('indent-r', 's' 'm')
    mods('indent-l', 'l')
  e('block')

.section
  mods('indent-b', 'xxl' 'xxxxl')
  mods('space-v', 'xxl' 'xxxxl')
