doctype html
html
  head
    link(rel='stylesheet' href='../../build/style.css')
    style body { margin: 0 }
  body
    script(src="../../build/script.js")
    include:bemjson bemjsons/index_desktop.json
