doctype html
html
  head
    link(rel='stylesheet' href='style.styl')
  body
    include:tpl blocks/content/product/block.tpl
    include:tpl blocks/content/warning/block.tpl
    include:tpl blocks/content/payment/block.tpl
    script(src="../build/script.js")
