// --- COLOR ---

mods--color--project-default =
  --bg-color-default #FFFFFF
  --bg-color-accent #0056B3
  --bg-color-border #000000
  --text-color-primary #000000
  --text-color-secondary rgba(0, 0, 0, 0.6)
  --text-color-ghost rgba(0, 0, 0, 0.3)
  --text-color-link #0070f0

mods--color--project-brand =
  --bg-color-default #0070f0
  --bg-color-accent #FFFFFF
  --bg-color-border #FFFFFF
  --text-color-primary #FFFFFF
  --text-color-secondary rgba(255, 255, 255, 0.6)
  --text-color-ghost rgba(255, 255, 255, 0.3)
  --text-color-link #FFFFFF

mods--color--project-inverse =
  --bg-color-default #000000
  --bg-color-accent #FFFFFF
  --bg-color-border #FFFFFF
  --text-color-primary #FFFFFF
  --text-color-secondary rgba(255, 255, 255, 0.6)
  --text-color-ghost rgba(255, 255, 255, 0.3)
  --text-color-link #0070f0

mods--color--project-warning =
  --bg-color-default #FF9900
  --bg-color-accent #FFFFFF
  --bg-color-border #FFFFFF
  --text-color-primary #FFFFFF
  --text-color-secondary rgba(255, 255, 255, 0.6)
  --text-color-ghost rgba(255, 255, 255, 0.3)
  --text-color-link #FFF

mods--color--megafon-brand =
  --bg-color-default #1FA55D
  --bg-color-accent #FFFFFF
  --bg-color-border #FFFFFF
  --text-color-primary #FFFFFF
  --text-color-secondary rgba(255, 255, 255, 0.6)
  --text-color-ghost rgba(255, 255, 255, 0.3)
  --text-color-link #FFF

mods--bg-view(color)
  background-color cssvar('bg-color-'+color)

mods--bg-from-text-color-view(color)
  background-color cssvar('text-color-'+color)

mods--text-view(color)
  +e('word')
    &::after
      background-color cssvar('text-color-'+color)

// -- ALIGNMENT --

mods--align--center =
  margin-left 0
  margin-right 0

mods--distribute--default =
  justify-content flex-start

mods--distribute--center =
  justify-content center

mods--distribute--between =
  justify-content space-between

mods--distribute--right =
  justify-content right

mods--vertical-align--center =
  align-items center

mods--vertical-align--top =
  align-items flex-start

mods--vertical-align--bottom =
  align-items flex-end

mods--column-distribute--center =
  text-align center
  align-content center
  align-items center

mods--column-distribute--between =
  text-align justify
  align-content space-between

mods--column-distribute--default =
  align-items flex-start
  align-content flex-start

mods--column-vertical-align--center =
  justify-content center

// --- SPACE ---

mods--space-a(size)
  padding cssvar('space-'+size)

mods--space-v(size)
  padding-top cssvar('space-'+size)
  padding-bottom cssvar('space-'+size)

mods--space-h(size)
  padding-left cssvar('space-'+size)
  padding-right cssvar('space-'+size)

mods--space-b(size)
  padding-bottom cssvar('space-'+size)

mods--indent-b(size)
  margin-bottom cssvar('space-'+size)

mods--indent-t(size)
  margin-top cssvar('space-'+size)

mods--indent-r(size)
  margin-right cssvar('space-'+size)

mods--indent-l(size)
  margin-left cssvar('space-'+size)

// --- SIZE ---

mods--size(size)
  +e('word')
    height cssvar('line-height-'+size)
    &::after
      height cssvar('text-size-'+size)
      margin-top 8px

mods--size--xxl()
  +e('word')
    height var(--line-height-xxl)
    &::after
      height var(--text-size-xxl)
      margin-top 9px

mods--size--s()
  +e('word')
    height var(--line-height-s)
    &::after
      height var(--text-size-s)
      margin-top 7px

// --- BORDER ---

mods--border--all =
  border-color var(--bg-color-border)
  border-style solid

mods--border--bottom =
  border-color var(--bg-color-border)
  border-bottom-style solid
  &:last-child
    border-bottom-style none

mods--border--top =
  border-color var(--bg-color-border)
  border-top-style solid
  &:first-child
    border-top-style none

// --- GRID ---

mods--m-columns(count)
  grid-template-columns repeat(count, 1fr)

mods--col-gap--full =
  grid-column-gap var(--gap)

mods--col-gap--half =
  grid-column-gap calc(var(--gap) / 2)

mods--col-gap--two-thirds =
  grid-column-gap calc(var(--gap) / 3 * 2)

mods--row-gap--full =
  grid-row-gap var(--gap)

mods--row-gap--half =
  grid-row-gap calc(var(--gap) / 2)

mods--m-col(count)
  grid-column span count
