json('../config.json')

@import '../lib/helpers.styl'
@import 'mods.styl'

@import 'base/theme.styl'
@import 'base/frame.styl'
@import 'base/patterns.styl'
@import 'base/content.styl'

@import 'content_blocks/payment/style.styl'
@import 'content_blocks/warning/style.styl'
@import 'content_blocks/product/style.styl'
@import 'content_blocks/history/style.styl'
@import 'content_blocks/commercial/style.styl'
@import 'content_blocks/header+onoffswitch/style.styl'
@import 'content_blocks/header+onoffswitch/onoffswitch.styl'
@import 'content_blocks/footer/style.styl'

@import 'content_blocks/cover/style.styl'
