json('../config.json')

@import '../lib/helpers.styl'
@import 'mods.styl'

@import 'blocks/base/theme.styl'
@import 'blocks/base/frame.styl'
@import 'blocks/base/patterns.styl'
@import 'blocks/base/content.styl'

@import 'blocks/content/payment/style.styl'
@import 'blocks/content/warning/style.styl'
@import 'blocks/content/product/style.styl'
@import 'blocks/content/history/style.styl'
@import 'blocks/content/commercial/style.styl'
